.main-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 18px;
}

#content-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.task-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.text-task {
  font-size: 28px;
  color: black;
  margin-left: 8px;
  padding: 10px;
}

.done-text {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.Delete {
  display: flex;
  height: 40px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.header__task {
  display: inline-flex;
}